<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ColorCatcher.Properties.Settings.lotteryConnectionString"
            connectionString="data source=lottery.db" providerName="System.Data.SQLite" />
        <add name="ColorCatcher.Properties.Settings.lotteryConnectionString1"
            connectionString="data source=lottery.db"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>